.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 
{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    border-bottom: 2px solid green;
    text-align: right;
}
img {
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}