h1
{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    border-bottom: 2px solid green;
    text-align: right;
}
.col
{
    background-color: gray;
    border-color: 2px solid black;
}