body
{
    background-color: #073131;
}
h1
{
    color: yellow;
    text-align: center;
    font-size: 40px;
}
footer{
    font-size: 20;
    text-align: center;
}
a,form
{
    color: yellow;
    cursor:pointer;
}
ul.topnav li.dropdownIcon
{
    display :none;
}