p
{
  text-align: center;
  background-image: linear-gradient(to bottom right, red, yellow);
  text-transform: uppercase;
  line-height: 20px;

}
h1,a
{
    text-align: center;
    color: yellow;
}
body
{
    background-color: #073131;
    background-image: url(Ramar.jpeg);
    background-size:cover;
    text-align: right;
}
